@import url('https://fonts.googleapis.com/css2?family=Oswald:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.bg-button { background: var(--color-primary)!important; box-shadow: none!important; }
.text-check { color: rgba(255, 255, 255, 0.8)!important; }
.text-checkbox { color: #0fffd5!important; }
.q-checkbox__svg { color: #000!important; }
div#q-loading-bar { display: none!important; }
.q-card { background: radial-gradient(83% 83% at 50% 50%, rgba(180, 180, 180, 0.3), rgba(120, 120, 120, .05)) !important; }
p { margin: 0 !important; }
.q-btn { align-items: center!important; box-shadow: none!important;}
.text-h6 { color: #fff; }
.q-card__section.q-card__section--vert.q-pt-none { color: #fff; }

@media screen and (min-width: 2540px) {
    #itembox-label {
        min-height: 1.8vh;
    }
}


.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px!important;
    margin-left: 0px!important;
}

:root {
    --color-turquoise: rgb(52, 234, 197);
    --color-dark-turqoise: rgb(8, 74, 61);
    --color-dark-gray: rgb(102, 102, 102);
    --color-dark-blue: rgb(10, 12, 16);
}

.fas.fa-lock {
    font-size: 22px;
    top: -82px;
    right: 0px;
    position: relative;
}

.brand-logo {
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    padding-top: 3px;
    padding-bottom: 10px;
    width: 45%;
}

::placeholder {
    color: white;
    text-align: center;
    line-height: 48px;
    text-transform: normal;
    font-size: 1.5vh;
    font-family: 'Oswald', sans-serif !important;
  }

/* rgb() */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


::-webkit-scrollbar {
    width: 0.35rem;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 0.33rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #2debbca6;
    border-radius: 0.23rem;
  }

#progressbar {
    width: 99%;
    margin-left: 79.2%;
    margin-top: 1.8%;
    border-radius: 15px;
    background-color: var(--color-secondary);
}

#progressbar-other {
    width: 77.6%;
    margin-left: 2.2%;
    margin-top: 1.8%;
    border-radius: 15px;
    background-color: var(--color-secondary);
}

.pro {
    background: linear-gradient(to right, var(--color-accent), var(--color-accent) 500px);
    height: 6px;
    max-width: 100%;
    border-radius: 15px;
    transition: width 1s, background-color 1s;
}

.pro1 {
    background: linear-gradient(to right, var(--color-accent), var(--color-accent) 500px);
    height: 6px;
    max-width: 100%;
    border-radius: 15px;
    transition: width 1s, background-color 1s;
}

.weight-img {
    margin-top: 0.6%;
    width: 4%;
    right: -14%;
    position: absolute;
}

.weight-img-other {
    margin-top: 0.6%;
    width:4%;
    right: -12%;
    position:absolute;
}

body {
    overflow-x: hidden;
}

#qbcore-inventory {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0vw;
    display: none;
    user-select: none;
    background: rgba(12, 14, 18, 0.95);
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.inv-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.inv-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.inv-icons-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.inv-hotbar-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

#backpack-inv-label {
    position: relative;
    text-shadow: 0 0 1vh #2debba;
    color: #00f8b9;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 400;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.01vh;
    left: 32.6%;
    top: 61%;
    float: center;
    text-transform: normal;
    cursor: none;
}

.player-inventory-bg {
    position: absolute;
    top: 62.7%;
    float: right;
    left: 30.2%;
    margin: 0 auto;
    width: 35.26%;
    max-width: 32.26%;
    height: 36.17%;
}

.player-inventory {
    position: absolute;
    top: 8%;
    left: 2.5%;
    width: 89%;
    max-width: 102.22%;
    height: 80%;
    max-height: 100%;
    float: right;
    overflow: auto;
    z-index: 100;
}

.player-inventory-backpack {
    position: fixed;
    top: 20.5%;
    left: 30.8%;
    width: 29%;
    max-width: 102.22%;
    height: 65%;
}

.player-inventory-first {
    position: fixed;
    display: grid;
    top: 18.6%;
    left: 2.2%;
    width: 6.6%; 
    height: 28.2%;
    padding: 10px;
    z-index: 10;
    margin-top: 5px;
}

.other-inventory-bg {
    position: absolute;
    top: 17%;
    float: right;
    right: 7.8%;
    margin: 0 auto;
    width: 32.26%;
    max-width: 40.26%;
    height: 40.17%;
    max-height: 40.17%;
}

.other-inventory {
    position: absolute;
    top: 8%;
    right: 1.5%;
    width: 89%;
    max-width: 102.22%;
    height: 72.17%;
    max-height: 132%;
    float: right;
    overflow: auto;
    z-index: 100;
}

.ply-hotbar-inventory {
    position: absolute;
    bottom: 10%;
    left: 35.5%;
    z-index: 105;
}

.player-inventory-backpack > .item-slot > .item-slot-key > p {
    position: absolute; 
    font-weight: 800; 
    color: #31d4a9; 
    text-shadow: 0 0 1vh #31d4a9 !important;
    font-family: 'Oswald', sans-serif !important;
    background-color: rgba(49, 212, 169, 0.1) !important;
    border: 1px solid rgba(55, 55, 55, 1);
    padding: .1vh; 
    width: 2.15vh;
    text-align: center; 
    font-size: 1.25vh; 
    line-height: 1.7vh;

}

.inv-help-options {
    background: radial-gradient(83% 83% at 50% 50%, rgba(180, 180, 180, 0.158), rgba(120, 120, 120, .05)) !important;
    /* border: 2px solid rgba(49, 53, 68, 0.8); */
    height: 2.8rem;
    width: 2.8rem; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    box-shadow: none;
    text-shadow: none;
    margin-left: 95.2%;
    margin-top: 50.5%;
    z-index: 9999;
}

.inv-help-options button {
    background: radial-gradient(83% 83% at 50% 50%, rgba(180, 180, 180, 0.158), rgba(120, 120, 120, .05)) !important;
    width: 2.8rem;
    height: 2.8rem;
    color: white;
    border: none;
    box-shadow: none;
    text-shadow: none;
    font-size: large;
}

.btn {
    box-shadow: none;
  }
  
.combine-option-container {
    display: none;
    position: relative;
    right: 0px;
    width: auto;
    left: 0vh;
    margin: 0px auto;
}

.item-slot {
    position: relative;
    width: 90px;
    height: 90px;
    float: left;
    background: radial-gradient(83% 83% at 50% 50%, rgba(180, 180, 180, 0.158), rgba(120, 120, 120, .05)) !important;
    transition: background 0.35s ease;
    margin: 8px;
    opacity: 90%;
    z-index: 1;
}

.item-slot:hover {
    /* background: #2debbc44 !important; */
    border: solid #2debbc 1px !important;
    opacity: 10px !important;
    box-shadow: 0.0rem 0.0rem 20px 5px #0000009f inset !important;
}

.inv-options {
    position: absolute;
	margin: 0 auto;
	right: -23.5%;
	width: 19.5%;
	top: 21.3%;
	left: -2%;
    cursor: pointer; /* Can also be 'none' however, as these are the buttons I feel as the pointer fits better */
    z-index: 200;
}

.inv-options-list {
	display: flex;
	justify-content: center;
}

.btn-inv {
    width: 100%!important;
    max-width: 100%!important;
    padding: 10%!important;
    background-color: var(--color-secondary);
}

.ammo-info-block {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 22vh;
    height: 11vh;
    background-color: rgba(235, 235, 235, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.01);
    top: 2vh;
}
.ammo-info-header {
    /* background-color: rgba(5, 5, 5, 0.5); */
    width: 100%;
    color: white;
    font-family: 'Oswald', sans-serif !important;
    background-color: rgba(0, 0, 0, 0.192);
    font-size: 1.vh;
    padding: .4vh;
    text-align: center;
}
.ammo-info {
    position: relative;
    color: white;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 200;
    font-size: 1.vh;
    margin-left: .8vh;
    margin-top: .4vh;
    margin-bottom: .25vh;
    top: .6vh;
}
.ammo-info span {
    margin-right: 1vh;
    float: right;
}

.inv-option-item {
    position: absolute;
    height: 2rem;
    width: 20%;
    color: rgba(148, 148, 148, 0.171);
    background: radial-gradient(83% 83% at 50% 50%, rgba(180, 180, 180, 0.158), rgba(120, 120, 120, .05)) !important;
    transition: background 0.35s ease;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-transform: none;
    border: none;
    padding: 0.4rem 0;
    font-family: 'Oswald', sans-serif  !important;
    border-radius: 0.25rem;
}

.inv-option-item:hover {
    background-color: #444555;
    /* border: 2px solid rgba(49, 53, 68, 0.8); */
}


.btn-combine {
    position: relative;
    margin-top: 6px;
    height: 3rem;
    width: 4.5rem;
    top: 0px;
    left: 0px;
    background: var(--color-secondary)!important;
    text-align: center;
    line-height: 48px;
    font-size: 1.1vh;
    font-weight: 900;
    font-family: 'Oswald', sans-serif !important;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    transition: background-color 0.1s linear 0s;
    border-radius: 5px!important;
    opacity: 70%;
}

.btn-combine > p {
    color: white;
    text-align: center;
    font-size: 1.5vh;
    font-weight: 300;
    font-family: 'Oswald', sans-serif !important;
    outline: none;

}

/* shop prices */
.item-slot-name1 {
    position: absolute;
    top: 0.3%;
    left: 0.1vw;
    text-align: center; 
    font-size: 1.25vh; 
    line-height: 1.8vh; 
    font-family: 'Oswald', sans-serif !important;
}

.item-slot-name1 > p {
    color: #31d4a9; 
    text-shadow: 0 0 1vh #31d4a9 !important;
    text-align: right;
    font-size: 1.25vh;
    font-weight: 400;
    cursor: none;
}

.item-slot-amount {
    position: absolute;
    top: 0.3%;
    right: 0.15vw;
    background-color: #41414b00;
    padding-right: 4px;
    padding-left: 4px;
}

.item-slot-amount > p {
    color: #ffffff;
    text-align: right;
    font-size: 1.25vh;
    font-weight: 800;
    cursor: none;
    font-family: "Oswald";
}


.inv-item-slot-name {
    position: absolute;
    top: 1.3%;
    left: 0.15vw;
    background-color: #41414b00;
    padding-right: 4px;
    padding-left: 4px;
}

.inv-item-slot-name > p {
    display: none;
    color: #ffffff;
    text-align: right;
    font-size: 1.25vh;
    font-weight: 400;
    cursor: none;
}

.item-slot-name {
    position: absolute;
    top: 1.3%;
    left: 0.15vw;
    background-color: #41414b00;
    padding-right: 4px;
    padding-left: 4px;
}

.item-slot-name > p {
    display: none;
    font-family: "Oswald";
    color: var(--color-turquoise);
    text-align: right;
    font-size: 1.25vh;
    font-weight: 800;
    cursor: none;
}

.item-slot-label {
    position: absolute;
    bottom: 0.5vh;
    width: 100%;
    background-color: transparent;
}

.item-slot-label > p {
    font-weight: 400;
    padding: 2.5px;
    padding-left: 5px;
    color: rgba(255, 255, 255, 0);
    font-size: 1.25vh;
    text-align: center;
    letter-spacing: 0px;
    font-family: 'Oswald', sans-serif !important;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: none;
}

.item-slot-quality {
    position: absolute;
    bottom: -2%;
    width: 100%;
    height: 0.6vh;
    background-color: red !important;
	border: 1px solid rgba(55, 55, 55, 1);
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.3);
}

.item-slot-quality-bar {
    position: absolute;
    width: 0%;
    bottom: 2%;
    height: 90%;
    background-color: #28dcb6 !important;
    z-index: 1;
}

.item-slot-quality p {
    color: transparent;
}

.item-slot-img {
    max-width: 100%;
    max-height: 100%;
    padding: 0.5vw;
}

.item-slot-img img {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 9%;
    width: auto;
    height: auto;
    max-width: 92%;
    max-height: 100%;
}

.item-slot-img-itembox img {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 1.3vh;
    width: auto;
    height: auto;
    max-width: 75%;
    max-height: 100%;
}

.item-slot-img2 img {
    display:block;
}

.ui-draggable-dragging {
    background: rgba(46, 195, 161, 0.2);
    border: #2bae8f 2px solid;
}

.player-inv-info {
    position: absolute;
    left: 3.3%;
    top: 15.6%;
    width: 28.8%;
    z-index: 1000;
    cursor: none;
}

#player-inv-label {
    position: relative;
    text-shadow: 0 0 1vh #2debba;
    color: #00f8b9;
    font-size: 1rem;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 400;
    letter-spacing: 0.01vh;
    left: 107.6%;
    bottom: .5px;
    float: left;
    text-transform: normal;
    cursor: none;
}

#player-inv-weight {
    position: relative;
    color: rgb(255, 255, 255);
    color: rgb(175, 175, 175);
    font-size: 0.7rem;
    font-weight: 700;
    font-family: 'Oswald', sans-serif !important;
    letter-spacing: 0.1vh;
    left: 20.0%;
    bottom: .5px;
    float: right;
}

#other-inv-label {
    position: relative;
    text-shadow: 0 0 1vh #2debba;
    color: #31d4a9;
    font-size: 1rem;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 400;
    letter-spacing: 0.01vh;
    left: 29%;
    bottom: 5.5px;
    float: left;
    text-transform: normal;
    cursor: none;
}


#other-inv-weight {
    position: relative;
    color: rgb(175, 175, 175);
    font-size: 0.7rem;
    font-weight: 700;
    font-family: 'Oswald', sans-serif !important;
    letter-spacing: 0.1vh;
    left: -58.5%;
    bottom: 5.5px;
    float: right;
    cursor: none;
}

.player-inv-weight {
    position: absolute;
    left: 38%;
    top: 10%;
}

.player-inv-weight > p {
    color: white;
    font-size: 12px;
    font-family: 'Oswald', sans-serif !important;
}

.other-inv-info {
    position: absolute;
    left: 58.3%;
    top: 15.6%;
    width: 28.8%;
    z-index: 1000;
}

.ply-iteminfo-container {
    display: none;
    align-items: center;
    flex-direction: column;
    position: fixed;
    gap: 10px;
    top: 67%;
    left: 50%;
    width: 10vw;
    max-width: 250px;
    align-items: center;
    color: white;
    z-index: 99999999999999999999999;
}
.item-split{
    display: flex;
    position: absolute;
    height: fit-content;
    top: 7.2vh;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    color: white;
    z-index: 99999999999999999999999;
    min-height: 2.84vh;
    border-radius: 5px;
    background: rgba(0,0,0, 0.7);
    padding: 10px;
}
.item-split-amount{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.6vh;
}
.item-split-action, .item-split-cancel{
    /* background: rgba(0,0,0, 0.7); */
    
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.05) 10%,
        rgba(255, 255, 255, 0.1) 85%
    );
    border-radius: 5px;
    padding: 5px;  
    padding-left: 10px;

    cursor: pointer;
    transition: 0.5s all;

}
.item-split-action:hover{
    background:rgba(228, 131, 12, 1);
    cursor: pointer;
    transition: 0.5s all;
}
.item-split-cancel:hover{
    background:rgba(229,20,12, 1)!important;
}
/*Chrome*/
.item-split-range.ui-widget.ui-widget-content{
    border: none!important;
}

.ui-state-active{
  background: rgba(228, 131, 12, 1)!important;
  border: 1px solid rgba(228, 131, 12, 1)!important;
}
.item-split-range{  
    width: 100%!important;
    height: 4px!important;
    border: 0!important;
    border-radius: 100px!important;
    background: rgba(#000,.2)!important;
    outline: none!important;
    top: 0.3em!important;
}

.ui-slider-handle{
    position: absolute;
    margin: -6px 0 0 -17px;
    border-radius: 50%!important;
    background: rgba(228, 131, 12, 1)!important;
    color: rgba(228, 131, 12, 1)!important;
    border: 0;
    height: 20px;
    line-height: 20px;
    text-align :center;
    width: 34px;
    top: -0.01em!important;
    outline : none!important;
    cursor: pointer;
    transition : transform .1s ease;
    
}
.ui-slider-handle:hover,
.ui-slider-handle:focus{
    transform: scale(1.1)!important;
}
.ui-slider-range{
    background: rgba(228, 131, 12, 1)!important;
}
/* .item-split-range .ui-slider-handle {
  outline: 0;
  background: rgba(228, 131, 12, 0.9)!important;;
  border-radius: 50%;
  top: -.6em;
}
.item-split-range .ui-slider-handle:hover, .item-split-range .ui-slider-handle:focus{
    border: 1px solid rgba(228, 131, 12, 0.7);

}
.item-split-range .ui-slider-range{
    background: rgba(228, 131, 12, 0.7)!important;

} */

.highlight {
    background: rgba(228, 131, 12, 0.7);
    height: 100%;
    width: 0;
  }
.item-split-selected-range{
    height: 20px!important;
    margin: 0px 5px!important;
}
.item-split-range.ui-slider-horizontal {
  height: 0.47em!important;
  width: 100%!important;
  border: none!important;
  background: rgba(175, 175, 175, 0.9)!important;
}
.item-shit {
    display: none;
    position: relative;
    bottom: -0.7vh;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 1px;
    z-index: 99999999999999999999999;
}

.item-shit-option:nth-child(1){

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.item-shit-option:last-child {

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.item-shit-option {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    border-radius: 4px;
    margin-top:5px;
    min-height: 2.84vh;
    padding: 5px;
    
    background: radial-gradient(rgba(72, 72, 72, 0.9), rgba(54, 54, 55, 0.9));

    color: white;
    z-index: 99999999999999999999999;
    transition: 0.7s background;
}
.item-shit-option:hover{
    cursor: pointer;
    background: #2bae8f;
}
.iteminfo-content {
    z-index: 99999999999999999999999;

}

.item-shit-option > * {
    margin-left: 5px;
}

.item-info-title >p{
    margin: 0px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.9vh;
    margin-left: 10px;
    padding: 10px;
    padding-bottom: 3px;
}

.item-info-titlee {
    font-size: 1.2vh;
    color: white;
    position: relative;
    top: .5vh;
    height: fit-content;
    background: radial-gradient(rgba(72, 72, 72, 0.9), rgba(54, 54, 55, 0.9));
    margin-bottom: 0.3rem;
    font-weight: 500;
    border-radius: 5px;
    padding-bottom: 1.3vh;
}

.item-uselessinfo > div {
    position: relative;
    background-color: #333333;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    left: 10px;
    height: fit-content;
    border-radius: 3px;
    padding: 0.05vh .54vh;
    font-weight: 500;
}

.item-info-line {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0%;
    background: white;
}
.item-info-description {
    font-size: 1.1vh;
    color: white;
    padding: 5px;
    margin-left: 10px;
    padding: 10px;
    /* background: rgba(0,0,0,0.7); */
    position: relative;
    /* top: 1vh; */
}

.item-uselessinfo {
    display: flex;
}

.item-uselessinfo > * {
    margin-left: 10px;
}

.iteminfo-content {
    width: 100%;
}

.itemboxes-container {
    height: 6.5rem;
    min-width: 40rem;
    max-width: 180rem;
    max-height: 180rem;
    width: fit-content;
    position: absolute;
    left: 1%;
    bottom: 51%;
    overflow: hidden;
}

.itemboxes-container-background {
    display: none;
    position: absolute;
    overflow: hidden;
    height: 8.5rem;
    width: 40vh;
    height: 12vh;
    left: 0%;
    bottom: 49.8%;
    background: linear-gradient(90deg, rgb(10, 15, 20) 20%, rgba(0,212,255,0) 100%);
    z-index: -1;
}

.template {
    display: none;
}
.itembox-container {
    display: none;
    position: relative;
    float: left;
    margin: 0 auto;
    margin-right: 1vh;
    width: 10vh;
    height: 11vh;
    background: #2debbc44 !important;
	/* border-left: 1px solid #2debbc;
    border-right: 1px solid #2debbc;
    border-top: 1px solid #2debbc;
    border-bottom: 16px solid #31d4a9; */
    opacity: 10px !important;
    box-shadow: 0.0rem 0.0rem 20px 5px #0000009f inset !important;
}

#itembox-action {
    position: absolute;
    text-align: left;
    color: rgb(255, 255, 255);
    border-top-left-radius: 1px;
    padding: 4px;
    top: 1.6rem;
    left: 110%;
}

#itembox-action > p {
    font-size: 14px;
    font-weight: 200;
    font-family: 'Oswald', sans-serif !important;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
}

#itembox-label {
    position: absolute;
    bottom: 0;
    width: 150%;
    height: 5%;
}

.itembox-image {
    max-width: 20%;
    max-height: 100%;
    padding: 0.10vw;
}

#itembox-label > p {
    font-family: 'Oswald', sans-serif !important;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 19px;
    top: -2.9rem;
    left: 117.25%;
    transform: translateX(-50%);
    text-align: center;
    position: relative;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
    color: #ffffff;
}

.requiredItem-container {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.requiredItem-box {
    position: relative;
    top: 79%;
    left: 42%;
    width: 10vh;
    height: 11vh;
    float: left;
    margin-left: 20px;
    background: rgba(54, 54, 54, 0.233);
}

#requiredItem-action {
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    padding: 3px;
    font-size: 14px;
    font-family: 'Oswald', sans-serif !important;
}

#requiredItem-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.3vh;
}

#requiredItem-label > p {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    top: -25px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
}

.item-slot-img-itembox-test img {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 1.3vh;
    width: 80px;
    height: 80px;
    max-width: 100%;
    max-height: 100%;
}

.z-hotbar-inventory {
    display: none;
    position: absolute;
    bottom: 2%;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: fit-content;
    z-index: 105;
    padding: 4px;
}

.z-hotbar-inventory > .z-hotbar-item-slot > .z-hotbar-item-slot-key > p {
    position: absolute; 
    z-index: -1;
    padding: .1vh; 
    width: 2.15vh;
    text-align: center; 
    font-size: 1.25vh; 
    line-height: 1.7vh; 
    font-weight: 800; 
    font-family: 'Oswald', sans-serif !important;
    color: var(--color-turquoise);
    background: var(--color-dark-turqoise) !important;
    border: 2px solid rgba(49, 53, 68, 0.8);
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.3);
}

.z-hotbar-item-slot {
    margin-left: 2px;
    margin-bottom: 2px;
    position: relative;
    width: 6.15rem;
    height: 6.15rem;
    float: left;
    background-image: radial-gradient(circle, #1d1d1d, #1c1c1c, #1c1c1c, #1b1b1b, #1b1b1b, #1b1b1b, #1b1b1b, #1b1b1b, #1b1b1b, #1c1c1c, #1c1c1c, #1d1d1d);
    /* -webkit-backdrop-filter: blur(10px); */
    border: 1px solid rgba(38,38,38,0.4);
    box-shadow: 0 0 1vh rgba(0, 0, 0, 0.3);
    margin: 3px;
    transition: opacity 0.2s ease 0s;
    opacity: 90%;
    z-index: 9999;
}

.z-hotbar-item-slot-amount {
    position: absolute;
    top: 5%;
    right: 0.15vw;
    background-color: #41414b00;
    padding-right: 4px;
    padding-left: 4px;
}

.z-hotbar-item-slot-amount > p {
    color: #ffffff;
    text-align: right;
    font-size: 1.25vh;
    font-weight: 800;
    cursor: none;
    font-family: "Oswald";
}

.z-hotbar-item-slot-amount-name {
    position: absolute;
    top: 0.5%;
    right: 0.15vw;
    background-color: #41414b00;
    padding-right: 4px;
    padding-left: 4px;
}

.z-hotbar-item-slot-amount-name > p {
    color: #ffffff00;
    text-align: right;
    font-size: 1.25vh;
    font-weight: 400;
    cursor: none;
}

.z-hotbar-item-slot-label {
    position: absolute;
    bottom: 0vh;
    width: 100%;
    background-color: transparent;
}

.z-hotbar-item-slot-label > p {
    font-weight: 400;
    padding: 2.5px;
    padding-left: 5px;
    color: rgba(255, 255, 255, 0);
    font-size: 1.15vh;
    text-align: left;
    letter-spacing: 0px;
    font-family: 'Oswald', sans-serif !important;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: none;
}

.z-hotbar-item-slot-img {
    max-width: 100%;
    max-height: 100%;
    padding: 0.8vw;
}

.z-hotbar-item-slot-img img {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 5%;
    left: -10%;
    width: auto;
    height: auto;
    max-width: 120%;
    max-height: 120%;
}

.ammo-container {
    position: absolute;
    background-color: rgba(20, 18, 32, 0.2);
    width: 3.25%;
    height: 44.16%;
    top: 26%;
    left: 6%;
}

.ammo-container-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5vh;
    background-color: rgba(120, 10, 20, 0.5);
    text-align: center;
    color: rgba(216, 216, 216, 0.897);
}

.ammo-container-header > i {
    line-height: 5vh;
    font-size: 1.8vh;
}

.ammo-box {
    position: relative;
    width: 100%;
    height: 6vh;
    top: 5vh;
    background-color: rgba(0, 0, 0, .4);
    margin-bottom: .5vh;
    margin-top: .5vh;
}

.ammo-box > img {
    position: absolute;
    top: .15vh;
    left: .2vh;
    width: 5.25vh;
    opacity: .25;
}

.ammo-box > span {
    position: absolute;
    color: rgba(255, 255, 255, 0.95);
    font-size: .93vh;
    bottom: 0;
    right: 0;
    margin: .3vh;
    font-family: 'Oswald', sans-serif !important;
}

.ammo-box-amount {
    position: absolute;
    width: 100%;
    background-color: rgba(36, 36, 36, 0.4);
    bottom: 0;
    max-height: 100%;
}

#pistol_ammo > .ammo-box-amount {
    height: 0%;
}

#smg_ammo > .ammo-box-amount {
    height: 0%;
}

#shotgun_ammo > .ammo-box-amount {
    height: 0%;
}

#rifle_ammo > .ammo-box-amount {
    height: 0%;
}

/* Weapon Attachments */

.weapon-attachments-container {
    position: absolute;
    left: -100vw;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.weapon-attachments-container-title {
    position: absolute;
    margin: 5vh;
    font-size: 3vh;
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif !important;
}

.weapon-attachments-container-description {
    position: absolute;
    margin: 5vh;
    top: 5vh;
    font-size: 1.7vh;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Oswald', sans-serif !important;
}

.weapon-attachments-container-details {
    position: absolute;
    margin: 5vh;
    top: 9vh;
    font-size: 1.4vh;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Oswald', sans-serif !important;
}

.weapon-attachments-container-detail-durability {
    height: 1.5vh;
    width: 10vh;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1px;
}

.weapon-attachments-container-detail-durability-total {
    height: 100%;
    width: 50%;
    background-color: var(--color-accent);
}

.weapon-attachments-container-image {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 32%;
    width: 30%;
}

.weapon-attachments {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5vh;
    width: 50vh;
    height: 12.5vh;
}

.weapon-attachments-title {
    position: absolute;
    bottom: 14vh;
    left: 0;
    margin: 5vh;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Oswald', sans-serif !important;
    font-size: 1.4vh
}

.weapon-attachment {
    position: relative;
    height: 12.5vh;
    width: 10.5vh;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(75, 75, 75);
    margin-right: 1vh;
    float: left;
    transition: .05s linear;
    z-index: 9888;
}

.weapon-attachment:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgb(29, 29, 29);
    transition: .05s linear;
}

.weapon-attachment-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(38, 41, 60, 0.3);
    padding: 2.1%;
}

.weapon-attachment-label > p {
    color: #ffffff;
    font-size: 1.1vh;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.9vh;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 100;
}

.weapon-attachment-img {
    max-width: 100%;
    max-height: 100%;
    padding: 0.5vw;
}

.weapon-attachment-img > img {
    display:block;
    position: relative;
    margin: 0 auto;
    margin-top: 10%;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.weapon-attachments-remove {
    position: absolute;
    width: 6.5vh;
    height: 6.5vh;
    background-color: rgb(15, 15, 15);
    border-radius: 1px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 20vh;
    text-align: center;
    color: white;
    font-size: 2vh;
    transition: background-color .05s linear;
    z-index: 9888;
}

.weapon-attachments-remove:hover {
    background-color: rgb(18, 18, 18);
}

.weapon-attachments-remove > i {
    line-height: 6.5vh;
}

.weapon-attachments-remove-hover {
    background-color: var(--color-accent);
}

.weapon-dragging-class {
    animation: ShakeEffect .75s;
    animation-iteration-count: infinite;
}

@keyframes ShakeEffect {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.weapon-attachments-back {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10vh;
    height: 6vh;
    margin: 5vh;
    background-color: rgb(15, 15, 15);
    border-radius: 1px;
    text-align: center;
    line-height: 6vh;
    color: white;
    font-family: 'Oswald', sans-serif !important;
    transition: .05s linear;
    z-index: 9999;
}

.weapon-attachments-back:hover {
    background-color: var(--color-primary);
}

.color-picker-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (width: 2560px) and (height: 1440px) {
    .item-slot {
        position: relative;
        width: 98px;
        height: 98px;
        float: left;
        background: rgba(23, 27, 43, 0.5);
        border: 2px solid rgba(49, 53, 68, 0.8);
        box-shadow: 0 0 1vh rgba(0, 0, 0, 0.3);
        margin: 3px;
        transition: opacity 0.2s ease 0s;
        opacity: 90%;
        z-index: 1;
    }
}

@media (width: 3360px) and (height: 1440px) {
    
    .item-slot {
        position: relative;
        width: 98px;
        height: 98px;
        float: left;
        background: rgba(23, 27, 43, 0.5);
        border: 2px solid rgba(49, 53, 68, 0.8);
        box-shadow: 0 0 1vh rgba(0, 0, 0, 0.3);
        margin: 3px;
        transition: opacity 0.2s ease 0s;
        opacity: 90%;
        z-index: 1;
    }

    .player-inventory-bg {
        position: absolute;
        top: 15%;
        float: right;
        left: 30.2%;
        margin: 0 auto;
        width: 35.26%;
        max-width: 32.26%;
        height: 72.17%;
    }

    .other-inventory-bg {
        position: absolute;
        top: 15%;
        float: right;
        right: 14.2%;
        margin: 0 auto;
        width: 25.26%;
        max-width: 25.26%;
        height: 64.17%;
        max-height: 64.17%;
    }

    #progressbar {
        width: 99%;
        margin-left: 79.2%;
        margin-top: 1.8%;
        border-radius: 15px;
        background-color: var(--color-secondary);
    }
    
    #progressbar-other {
        width: 77.6%;
        margin-left: 2.2%;
        margin-top: 1.8%;
        border-radius: 15px;
        background-color: var(--color-secondary);
    }

    .inv-option-item {
        margin-top: 10%;
        height: 3.6rem;
        width: 4.6rem;
        margin-left: 5%;
        background: rgba(23, 27, 43, 0.5);
        border: 2px solid rgba(49, 53, 68, 0.8);
        box-shadow: 0 0 1vh rgba(0, 0, 0, 0.3);
        text-align: center;
        border: none;
        font-family: 'Oswald', sans-serif !important;
        color: white;
        transition: background-color .1s linear;
        opacity: 80%;
        border-radius: 0.1rem;
    }

    #player-inv-label {
        position: relative;
        color: white;
        font-size: 20px;
    font-family: 'Oswald', sans-serif !important;
        font-weight: 300;
        letter-spacing: 0.01vh;
        left: 109%;
        bottom: .5px;
        float: left;
        text-transform: normal;
        cursor: none;
    }
    
    #other-inv-label {
        position: relative;
        color: white;
        font-size: 20px;
        font-family: 'Oswald', sans-serif !important;
        font-weight: 300;
        letter-spacing: 0.01vh;
        left: 29%;
        bottom: 5.5px;
        float: left;
        text-transform: normal;
        cursor: none;
    }

    #other-inv-weight {
        position: relative;
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: 300;
        font-family: 'Oswald', sans-serif !important;
        letter-spacing: 0.1vh;
        left: -56.5%;
        bottom: 5.5px;
        float: right;
        cursor: none;
    }

}

.craft-item-slot {
    width: 30%;
    height: 30%;
    background: #0fffd5;
}

/* Search Items */
.filter-content {
    top: 17%;
    left: 50.5%;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 101;
}

.inventory-search-input {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.inventory-search-input > input::placeholder {
    color: #fff;
    opacity: 0.3;
}

.inventory-search-input-box {
    border: 2px solid rgba(255, 255, 255, 0.1);
    background-color: transparent;
    width: 138px;
    height: 30px;
    border-radius: 3px;
    padding: 0 15px 0 15px;
    color: #ccc;
    font-weight: 400;
    font-size: 16px;
}

#MDRSTopDivRight {
    width: 5%;
    height: 2%;
    position: absolute;
    left: 5%;
    top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8vw;
    border: 1px solid rgba(255, 254, 254,0.1);
    overflow: hidden;
    font-family: 'AkrobatBold';
    font-weight: 500;
}

#MDRSTopDivRight1 {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7C898D;
    font-weight: 300;
    font-size: 0.65vw;
    /* padding-top: 0.1vw; */
}

#MDRSTopDivRight2 {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 254, 254,0.4);
    color: rgb(255, 254, 254,0.4); 
    font-size: 0.65vw;
}

.circle {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #17aa8a;
    animation: glow 1.0s infinite alternate;
    top: 71.6%;
    margin-left: 1.7%;
}
@keyframes glow {
    from {
        box-shadow: 0 0 15px -4px #17aa8a;
    }
    to {
        box-shadow: 0 0 15px 3px #17aa8a;
    }
}
.personal-information {
    overflow: hidden;
    position: absolute;
    font-family: 'Owald', sans-serif;
    padding: 1%;
    font-size: 1.3vh;
    color: rgb(187, 186, 186);
    top: 69.2%;
    margin-left: 1.5%;
    font-weight: 300;
}

/* Player Body */
.player-body-container {
	position: absolute;
	bottom: 27.8%;
	margin: 0 auto;
	left: -70%;
	right: 0;
	text-align: center;
	width: 15%;
	height: 55%;
	padding: 10%;
}

.player-body {
	position: absolute;
	bottom: 48%;
	margin: 0 auto;
	left: -23%;
	right: 0;
	text-align: center;
	width: 15%;
	height: 45%;
}

.player-inventory-icon {
    position: absolute;
    left: 31.2%;
    top: 14.0%;
}

.backpack-inventory-icon {
    position: absolute;
    left: 31.0%;
    top: 58.9%;
}

.other-inventory-icon {
    position: absolute;
    right: 33.5%;
    top: 14.0%;
}

.pocket-inventory-icon {
    position: absolute;
    left: 3.0%;
    top: 14.0%;
}

 /*PERSONA INFORMATION */
 .personal-vehicle-line {
    overflow: hidden;
    position: absolute;
      font-family: 'Oswald', sans-serif;
    background-color: #2a8ed2 !important;
      border: 1px solid rgba(55, 55, 55, 1);
      /* -webkit-box-shadow:0px 0px 31px 0px rgba(85, 233, 171,0.9);
-moz-box-shadow: 0px 0px 31px 0px rgba(85, 233, 171,0.9);
box-shadow: 0px 0px 31px 0px rgba(85, 233, 171,0.9); */
    top: 75%;
    margin-left: 2.9%;
    height: 4.2vh;
    width: 0.55vh;
  }
  
  .personal-vehicle-title {
    overflow: hidden;
    position: absolute;
    font-family: 'Oswald', sans-serif;
    padding: 1%;
    font-size: 1.6vh;
    color: rgb(160, 160, 160);
    top: 73.5%;
    margin-left: 2.4%;
    font-weight: 300;
  }
  
  .personal-vehicle {
    overflow: hidden;
    position: absolute;
      font-family: 'Oswald', sans-serif;
    padding: 1%;
    font-size: 1.65vh;
    color: white;
    top: 75%;
    margin-left: 2.4%;
    font-weight: 300;
  }
  
  .player-id-line {
    overflow: hidden;
    position: absolute;
      font-family: 'Oswald', sans-serif;
    background-color: #c765f4!important;
      border: 1px solid rgba(55, 55, 55, 1);
    top: 75%;
    margin-left: 20.2%;
    height: 4.2vh;
    width: 0.55vh;
  }
  
  .player-id-title {
    overflow: hidden;
    position: absolute;
      font-family: 'Oswald', sans-serif;
    padding: 1%;
    font-size: 1.4vh;
    color: rgb(160, 160, 160);
    top: 73.5%;
    margin-left: 19.8%;
    font-weight: 300;
  }
  
  .player-id {
    overflow: hidden;
    position: absolute;
      font-family: 'Oswald', sans-serif;
    padding: 1%;
    font-size: 1.65vh;
    color: white;
    top: 75%;
    margin-left: 19.8%;
    font-weight: 300;
  }
  .phone-number-line {
    overflow: hidden;
    position: absolute;
      font-family: 'Oswald', sans-serif;
    background-color: #b2ee63 !important;
      border: 1px solid rgba(55, 55, 55, 1);
      /* -webkit-box-shadow:0px 0px 31px 0px rgba(85, 233, 171,0.9);
-moz-box-shadow: 0px 0px 31px 0px rgba(85, 233, 171,0.9);
box-shadow: 0px 0px 31px 0px rgba(85, 233, 171,0.9); */
    top: 85%;
    margin-left: 2.9%;
    height: 4.2vh;
    width: 0.55vh;
  }
  
  .phone-number-title {
    overflow: hidden;
    position: absolute;
      font-family: 'Oswald', sans-serif;
    padding: 1%;
    font-size: 1.6vh;
    color: rgb(160, 160, 160);
    top: 83.5%;
    margin-left: 2.4%;
    font-weight: 300;
  }
  
  .phone-number {
    overflow: hidden;
    position: absolute;
      font-family: 'Oswald', sans-serif;
    padding: 1%;
    font-size: 1.65vh;
    color: white;
    top: 85%;
    margin-left: 2.4%;
    font-weight: 300;
  }
  
  .apartment-id-line {
    overflow: hidden;
    position: absolute;
      font-family: 'Oswald', sans-serif;
    background-color: #f49e65 !important;
      border: 1px solid rgba(55, 55, 55, 1);
    top: 85%;
    margin-left: 20.2%;
    height: 4.2vh;
    width: 0.55vh;
  }
  
  .apartment-id-title {
    overflow: hidden;
    position: absolute;
      font-family: 'Oswald', sans-serif;
    padding: 1%;
    font-size: 1.6vh;
    color: rgb(160, 160, 160);
    top: 83.5%;
    margin-left: 19.8%;
    font-weight: 300;
  }
  
  .apartment-id-apartment {
    overflow: hidden;
    position: absolute;
      font-family: 'Oswald', sans-serif;
    padding: 1%;
    font-size: 1.65vh;
    color: white;
    top: 85%;
    margin-left: 19.8%;
    font-weight: 300;
  }

  .character-tracers div {
    position: absolute;
  }
  
  .character-tracers .left-leg {
    top: 35.5rem;
    right: 89.1rem;
  }
  
  .character-tracers .left-arm {
    top: 18rem;
    right: 87.2rem;
  }
  
  .character-tracers .right-leg {
    top: 39rem;
    right: 98.5rem;
  }
  
  .character-tracers .head {
    top: 14rem;
    right: 98.0rem;
  }
  
  .character-tracers .right-arm {
    top: 23rem;
    right: 102.5rem;
  }
  
  .character-tracers .body {
    top: 24rem;
    right: 91rem;
  }
  
  .character-tracers img {
    width: 8rem;
  }
  
  .character-tracers .bar {
    width: 5.5rem;
    height: 0.35rem;
    border: 0.5px solid rgb(45, 45, 45);
    border-radius: 3px;
  }
  
  .character-tracers .bar .progress {
    width: 100%;
    height: 100%;
    background: #a7575c;
    border-radius: 3px;
  }
  
  .character-tracers .body-part {
    z-index: 1;
    color: #f1f1f1;
    font-size: 0.74rem;
    bottom: 3.25rem;
    }

/* Pockets */
.pocket-inv-info {
    position: absolute;
    left: 3.3%;
    top: 15.6%;
    width: 28.8%;
    z-index: 1000;
    cursor: none;
}

#pocket-inv-label {
    position: relative;
    text-shadow: 0 0 1vh #2debba;
    color: #00f8b9;
    font-size: 1rem;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 400;
    letter-spacing: 0.01vh;
    left: 6.2%;
    bottom: -170px;
    float: left;
    text-transform: normal;
    cursor: none;
}
